.CommentInsert{
    display: flex;
    background: rgb(200,200,200);
}

.CommentInsert input{
    /*기본 스타일 초기화*/
    background:none;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
    width: 512px;
    color: rgb(73, 73, 73);
}

.CommentInsert .inputName {
    width:200px;
}

.CommentInsert .inputComment {
    width:400px;
}

:-ms-input-placeholder{
    color: #dee2e6;
}