.list {
  color: #333;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-between;

  border: 4px solid grey;
}

button {
  margin: 0;
  padding-left: 0;
}